---
layout: default
title: Home
cover: false
#about: 'about.html'
---

<style>
ul a { color: #BD3232; text-decoration: none; }
.projects li { margin-bottom: 0.75em; }
</style>

<header class="site-head" {% if page.cover %} style="background-image: url({{ page.cover }})"{% endif %}>
    <div class="vertical">
        <div class="site-head-content" class="inner">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.baseurl }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
            <h1 class="blog-title">{{ site.name }}</h1>
            <h2 class="blog-description">
                {{ site.description }}
                {% if page.about %} <a href='{{ site.baseurl }}{{ page.about }}'> About me </a> {% endif %}
            </h2>
        </div>
    </div>
</header>

<main class="content" role="main">
    <article class="post">
        <p>
            Looking for a Python/Django/Linux server-side developer?
            <a href="mailto:email@nreynolds.co.uk">Get in touch</a>!
        </p>
        <p>
            <a href="https://github.com/nathforge">Github</a> /
            <a href="https://www.linkedin.com/profile/view?id=378757804">LinkedIn</a> /
            <a href="mailto:email@nreynolds.co.uk">Email</a>
        </p>
        <hr style="margin: 2em 0">
        <div style="overflow: auto; width: 100%" class="projects">
            <div style="width: 50%; float: left">
                <h2 style="font-weight: normal; font-size: 150%">Open-source:</h2>
                <ul>
                    <li><a href="https://github.com/nathforge/django-swanson">Swanson</a><br>BDD test framework</li>
                    <li><a href="http://djangowos.com">Django Wall of Superpowers</a><br>Python 3 compatibility chart</li>
                    <li><a href="https://github.com/nathforge/django-wiretap">Wiretap</a><br>Record HTTP data in Django</li>
                    <li><a href="https://github.com/nathforge/myfitnesspal-sync">MyFitnessPal sync</a><br>Unofficial MFP data sync client</li>
                    <li><a href="https://github.com/nathforge">But wait, there's more&hellip;</a></li>
                </ul>
            </div>
            <div style="width: 50%; float: right">
                <h2 style="font-weight: normal; font-size: 150%">Commercial work:</h2>
                <ul>
                    <li><a href="http://www.proxama.com/">Proxama</a><br>Technical lead</li>
                    <li><a href="http://www.fujifilm.com/">Fujifilm</a><br>Optimised server performance</li>
                    <li><a href="http://www.aviva.co.uk/">Aviva</a><br>Built in-house CMS</li>
                    <li><a href="http://www.rac.co.uk/">RAC</a><br>Converted to Django</li>
                </ul>
            </div>
        </div>
    </article>

    <!--
    {% for post in paginator.posts %}
        <article class="post">
            <header class="post-header">
                <span class="post-meta"><time datetime="{{ post.date | date:"%Y-%m-%d" }}">{{ post.date | date_to_string }}</time> {{!tags prefix="on "}}</span>
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>

            </header>
            <section class="post-excerpt">
                {{ post.excerpt }}
            </section>
        </article>
    {% endfor %}

    <nav class="pagination" role="pagination">
        {% if paginator.previous_page %}
            {% if paginator.previous_page == 1 %}
                <a class="newer-posts" href="/" title="Previous Page">&laquo; Newer Posts</a>
            {% else %}
                <a class="newer-posts" href="/page{{ paginator.previous_page }}/" title="Previous Page">&laquo; Newer Posts</a>
            {% endif %}
        {% endif %}

        <span class="page-number"> Page {{paginator.page}} of {{paginator.total_pages}} </span>

        {% if paginator.next_page %}
            <a class="older-posts" href="/page{{ paginator.next_page }}/" title="Next Page">Older Posts &raquo;</a>
        {% endif %}
    </nav>
    -->
</main>
